#python{
  display: none;
}
#veryhotmsg{
  display: none;
}
#JavaScript{
  display: none;
}
#Ruby{
  display: none;
}
#React{
  display: none;
}
#Swift{
  display: none;
}
#age{
  display: none;
}
body {
  background-color: rgb(190, 165, 133);
}
h1{
  color: rgb(216, 84, 106);
  text-align: center;
}
.class-radio{
  box-sizing: border-box;
  width: 40%;
  border: solid black;
  border-width: 6px;
  margin-top: 10 px;
  padding-top: 3px;
  float: center;
}
.p-class{
  font-size: larger;
  width: auto;
  font-style: oblique;
}